
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ------------------------------------------  Header  -------------------------------- */
.input-form{
    border: 2px solid rgb(15, 141, 15);
}
.strong1:hover strong{
    color:rgb(52, 186, 22) ;
}
.tam:hover{
    transform: scale(1.05 , 1.05);
}
/* ------------------------------------------  article  --------------------------------- */
.contact-us{
    position: fixed;
    bottom: 100px;
    right: 5px;
    z-index: 50;
}
.contact-us ul li a{
    text-align: center;
    width: 60px;
    height: 60px; 
    display: block;
    padding-top:3px ;
}
.icon-art{
    font-size: 45px;
    color: rgb(113, 113, 113);
}
.icon-art:hover{
    color: rgb(56, 228, 56); 
}
/* ------------------------------------------  main  -----------------------------------*/
.bg-item-s{
    background-color:rgb(33, 33, 33); 
    opacity: .8;
}
.bg-img-s{
   background-color:rgb(129, 129, 129); 
   opacity: .7;
}
.img_icon a{
    text-decoration: none;
}
/* ------------------------------------------  section 1  --------------------------------- */
.gredient{
    text-shadow: 1px 12px 10px rgb(36, 254, 43);
}
/* ------------------------------------------  section 3  --------------------------------- */
.bgs3{
    background: -webkit-linear-gradient(top , #909090 , #3a3a3a );
}
/* ------------------------------------------  section 4  --------------------------------- */
.bgs4{
    background-color: rgb(137, 137, 137);
    margin-top: -8px;
}
.ps4{
    margin-left: 350px;
}
.bgss{
    color: rgb(31, 53, 53);
}
/* ------------------------------------------  section 5  --------------------------------- */
.s5{
    width: 100%;
    height: 50vh;
    position: relative;
    top: 0;
}
.imgs5{
    width: 100%;
    height: 100%;
    background-image: url("../image/Ramesseum.webp");
    background-size: cover;
    background-attachment: fixed; 
    position: absolute;
}
.imgrs5{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.4); 
}
/* ------------------------------------------  section 6  --------------------------------- */
.bgs6{
    background-color: rgb(68, 68, 68);
    position: relative;
}

.aftb::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: 1s;
}
.aftb:hover:after{
    width: 100%;
    height: 80%;
    opacity: .1;
}

.aftb::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 20%;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: 1s;
}
.aftb:hover::before{
    width: 100%;
    height: 80%;
    opacity: .1;
}
/* ------------------------------------------  section 7  --------------------------------- */
.s7{
    width: 100%;
    height: 50vh;
    position: relative;
    top: 0;
}
.imgs7{
    width: 100%;
    height: 100%;
    background-image: url("../image/temple.jpg");
    background-size: cover;
    background-attachment: fixed; 
    position: absolute;
}
.imgrs7{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(87, 74, 74, 0.4); 
}
/* ------------------------------------------  section 8  --------------------------------- */
.big-divs8{
    width: 20rem;
    height: 75vh;
    border-radius: 20px;
}
.imgs8{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    transition: .5s;
}
.big-img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;

}
.bgs8{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0 , 0.7);
    border-radius: 20px;
}
.small-img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin-top: 78%;
}
.imgs8:hover{
    transform: scale(0.9 , 0.9);
}
/* ------------------------------------------  section 9  --------------------------------- */
.line_types{
    width: 40px;
    height: 3px;
    margin: 20px 50px;
    transition: .8s;
}
.divs9:hover .line_types{
    width: 80px;
}
.divs9{
    border-radius: 30px;
}
.divimgs9{
    width: 30%;
    height: 100%;
    margin-left: 70%;
}
.imgs9{
    width:30%;
    height: 100%;
    clip-path: polygon(0% 0%, 20% 100%, 100% 100%, 100% 0%);
    border-radius: 0px 30px 30px 0px;
}
.img2s9{
    width:30%;
    height: 100%;
    clip-path: polygon(100% 0%, 80% 100%, 0% 100%, 0% 0%);
    margin-left: 1px;
    border-radius: 30px 0px 0px 30px;
}
.h3s9{
    color: gold;
}
/* ------------------------------------------  section 10  --------------------------------- */
.icon-img{
    font-size: 60px;
}
.sizes10:hover , .icon-img{
    transform: scale(0.9 , 0.9);
    color: rgb(11, 230, 40);
}
/* ------------------------------------------  section 11  --------------------------------- */
.all-hov{
    color: rgb(255, 255, 255);
}
.all-hov:hover{
    color: rgb(56, 228, 56); 
}
